*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    border-radius: 10px;
    height: 500px;
    width: 900px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
button{
    margin-top: 12px;
    border-radius: 10px;
}
#parent div{
    white-space: nowrap;

    border: 2px solid black;
    height: 35px;
    width: 40%;
    border-radius: 10px;
    padding-top: 13px;
    font-size: 20px;  
    overflow-x: auto; 

}
#text{
    height: 40px;
    width: 700px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;

}
button{
    height: 40px;
    width: 90px;
}